.container .main {
  height: 100vh;
  display: flex;
  align-items: center;
}
.container .main .wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: 0px 5px 5px 0px #cfcfcf;
}
.container .main .wrapper > div {
  width: 600px;
  height: 800px;
}
.container .main .wrapper > div.live {
  position: relative;
  overflow: hidden;
  background-image: url("../../images/live.png");
  background-size: 110%;
}
.container .main .wrapper > div.live div.me,
.container .main .wrapper > div.live div.he {
  display: none;
}
.container .main .wrapper > div.live div.me .video-content,
.container .main .wrapper > div.live div.he .video-content {
  height: 100%;
}
.container .main .wrapper > div.live div.me .video-content video,
.container .main .wrapper > div.live div.he .video-content video {
  width: 100%;
  height: 100%;
}
.container .main .wrapper > div.live div.me .video-footer,
.container .main .wrapper > div.live div.he .video-footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 30px;
  height: 100px;
}
.container .main .wrapper > div.live div.me .video-footer ul,
.container .main .wrapper > div.live div.he .video-footer ul {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.container .main .wrapper > div.live div.me .video-footer ul li .icon,
.container .main .wrapper > div.live div.he .video-footer ul li .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.container .main .wrapper > div.live div.me .video-footer ul li .icon img,
.container .main .wrapper > div.live div.he .video-footer ul li .icon img {
  width: 100%;
}
.container .main .wrapper > div.live div.me .video-footer ul li .name,
.container .main .wrapper > div.live div.he .video-footer ul li .name {
  padding-top: 10px;
  font-size: 12px;
  color: #FFF;
}
.container .main .wrapper > div.live .he {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.container .main .wrapper > div.live .me {
  z-index: 99;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  background-color: #333333;
  overflow: hidden;
}
.container .main .wrapper > div.message .message-container {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.container .main .wrapper > div.message .message-container .message-header {
  color: #333;
  height: 52px;
  line-height: 52px;
  padding-left: 31px;
  background: #F5F5F5;
}
.container .main .wrapper > div.message .message-container .message-main {
  padding: 40px;
  height: 486px;
  overflow: hidden;
  overflow-y: auto;
  font: 14px Microsoft YaHei;
  font-weight: 400;
}
.container .main .wrapper > div.message .message-container .message-main .message-content div .col {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 5px;
  margin-bottom: 28px;
}
.container .main .wrapper > div.message .message-container .message-main .message-content div:last-child .col {
  margin: 0;
}
.container .main .wrapper > div.message .message-container .message-main .message-content .me {
  text-align: right;
}
.container .main .wrapper > div.message .message-container .message-main .message-content .me .col {
  background: #00C4CD;
  color: #FFF;
}
.container .main .wrapper > div.message .message-container .message-main .message-content .he {
  text-align: left;
}
.container .main .wrapper > div.message .message-container .message-main .message-content .he .col {
  background: #EFEFEF;
  color: #333;
}
.container .main .wrapper > div.message .message-container .message-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  font: 14px Microsoft YaHei;
  font-weight: 400;
  border-top: 1px solid #F5F5F5;
}
.container .main .wrapper > div.message .message-container .message-footer .content {
  padding: 10px;
}
.container .main .wrapper > div.message .message-container .message-footer .content textarea {
  resize: none;
  width: 100%;
  max-width: 100%;
  border: 0;
}
.container .main .wrapper > div.message .message-container .message-footer .footer-submit {
  position: absolute;
  bottom: 0;
  right: 14px;
  height: 28px;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}
.container .main .wrapper > div.message .message-container .message-footer .footer-submit .desc {
  color: #999999;
  line-height: 36px;
  padding-right: 26px;
}
.container .main .wrapper > div.message .message-container .message-footer .footer-submit .submit button {
  width: 80px;
  height: 28px;
  background: #f5f5f5;
  border-radius: 5px;
}
.container .prop {
  z-index: 999;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateY(-300px);
  width: 600px;
  margin-left: -300px;
  height: 120px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 5px 5px 0px rgba(207, 207, 207, 0.33);
  transition: all 0.5s;
}
.container .prop.active {
  transform: translateY(0px);
}
.container .prop .title {
  text-align: center;
  line-height: 60px;
}
.container .prop .prop-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}
.container .prop .prop-footer div {
  width: 45%;
  text-align: center;
  border-radius: 10px;
}
.container .prop .prop-footer div.y {
  color: lawngreen;
}
.container .prop .prop-footer div.n {
  background: red;
  color: #FFF;
}
.container .textMenu {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  display: none;
  border-radius: 10px;
  background-color: #efefef;
  overflow: hidden;
  box-shadow: 0px 15px 20px 1px rgba(51, 51, 51, 0.04);
}
.container .textMenu .item {
  color: #333;
  padding: 5px 20px;
  font-size: 14px;
  cursor: default;
}
.container .textMenu .item:hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}
